@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  display: inline-block;
}
ul,li {
  list-style: none;
}
.main_login_wrap 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #23242a;
  font-family: 'Poppins', sans-serif;
}
.sign_wrap 
{
	position: relative;
	width: 380px;
	height: 420px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.sign_wrap::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
}
.sign_wrap::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
.form 
{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color: #45f3ff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: #45f3ff;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links p,
.links a
{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
  cursor: pointer;
}

.links p:hover, 
.links a:hover
{
	color: #45f3ff;
}
.login_input
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #45f3ff;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
.login_input:active 
{
	opacity: 0.8;
}
.signup_btn {
  text-align: center;
  width: 80%;
  margin: 50px auto;
}
.inner_wrap {
  max-width: 500px;
  margin: 0 auto;
}
.inner_wrap .inputBox {
  width: 90%;
  margin: 35px auto;
}
.pass_check_wrap {
  color: #aaa;
  padding: 30px;
  background: #1f1f1f;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}
.pass_check_wrap.on {
  background: dodgerblue;
}
.pass_check_wrap p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.pass_check_wrap p.on {
  color: white;
}
.board_wrap {
	min-width: 800px;
	width: 50%;
	border: 1px solid #000;
}
.board_title_wrap {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}
.board_list_wrap {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.board_title_wrap p:nth-child(1){
	width: 100px;
}
.board_title_wrap p:nth-child(2){
	width: 50%;
}
.board_title_wrap p:nth-child(3){
	width: 200px;
}
.board_list_wrap p:nth-child(1){
	width: 100px;
}
.board_list_wrap p:nth-child(2){
	width: 50%;
}
.board_list_wrap p:nth-child(3){
	width: 200px;
}
.board_page_wrap {
	min-height: 100vh;
	background: #23242a;
}